<!DOCTYPE html>
<html>
  <head>
    <title>Track Land Autologin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Track Land Autologin</h1>
    <p>Welcome to Autologin for <b><%= email %></b></p>

    <iframe src="<%= url %>" width="100%" height="800px" />
  </body>
</html>
