<!DOCTYPE html>
<html>
  <head>
    <title>Track Land Autologin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Track Land Autologin</h1>
    
    <form action="/" method="get">
      <label for="email">E-mail:</label><br>
      <input type="text" id="email" name="email" value="<%= email %>" />
      <input type="submit" value="Submit">
    </form>

    <% if (url) { %>
      <p>Welcome to Autologin for <b><%= email %></b></p>
      <iframe src="<%= url %>" width="100%" height="800px" />
    <% } else { %>
        <p><b><%= error %></b></p>
    <% } %>
  </body>
</html>
